*{
  box-sizing: border-box;
  font-family: sans-serif;
}
.app{
  margin: 40px;
}
.calendar-container{
  margin-bottom: 50px;
  position: relative;
}
.hour-block{
  height:60px;
  border: solid black 1px;
  position:relative;
  z-index: 1;
  width: 60%;
  font-size: 2rem;
}
.add-event-form{
  margin: 20px;
}