*{
  box-sizing: border-box;
  font-family: sans-serif;
}
.app{
  margin: 40px;

}
.hour-block{
  height:60px;
  border: solid black 2px;
  position:relative;
  z-index: 1;
  max-width: 60%;
  font-size: 2rem;
}